<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartPortal</display-name>
  <welcome-file-list>
    <welcome-file>uslogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.smart.maint.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateDept</display-name>
    <servlet-name>CreateDept</servlet-name>
    <servlet-class>com.smart.maint.CreateDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDept</servlet-name>
    <url-pattern>/CreateDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpCon</display-name>
    <servlet-name>HelpCon</servlet-name>
    <servlet-class>com.smart.maint.HelpCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpCon</servlet-name>
    <url-pattern>/HelpCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegi</display-name>
    <servlet-name>UserRegi</servlet-name>
    <servlet-class>com.smart.maint.UserRegi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegi</servlet-name>
    <url-pattern>/UserRegi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.smart.maint.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Roadmain</display-name>
    <servlet-name>Roadmain</servlet-name>
    <servlet-class>com.smart.maint.Roadmain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Roadmain</servlet-name>
    <url-pattern>/Roadmain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComAdd</display-name>
    <servlet-name>ComAdd</servlet-name>
    <servlet-class>com.smart.maint.ComAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComAdd</servlet-name>
    <url-pattern>/ComAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>com.smart.maint.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDep</display-name>
    <servlet-name>LoginDep</servlet-name>
    <servlet-class>com.smart.maint.LoginDep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDep</servlet-name>
    <url-pattern>/LoginDep</url-pattern>
  </servlet-mapping>
</web-app>